.App {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}

.authBtn {
  margin: 0 5px;
}

li:hover {
cursor: pointer;
}

.center-cols > .col {
  float:none; 
  display: inline-block;
  text-align: initial; 
}

